@import url("https://fonts.cdnfonts.com/css/Inter");
header {
  color: #fff;
  padding: 10px ; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
}

.head-content {
  font-weight: bold;
  font-size: 38px;
  display: flex;
  align-items: center;
  margin-left: 320px;
}

.head-content p {
  margin-left: 0px; 
}
.infoGuide {
  display: flex;
  align-items: center;
  margin-right:450px;
}

.infoGuide a:not(:first-child) {
  margin-left: 200px; 
}
