.circle-container {
    position:absolute !important;
    width: 100vw;
    height: 1008px;
    pointer-events: none;
    z-index: -1; 
    overflow: hidden; 
  }
  .circle-container .circle {
    content: "";
    position: absolute;
    border-radius: 50%;
    filter: blur(40px);
    z-index: -2;
  }
  .circle-container .circle:nth-child(1) {
    background: linear-gradient(45deg, #A542AF, rgba(7, 55, 225, 0.5)); /* синий*/
    top: 8%;
    left: 9%;
    width: 400px;
    height: 400px;
  }
  .circle-container .circle:nth-child(2) {
    background: linear-gradient(45deg, #A74098, #A74098); /* розовый*/
    top: -5%;
    right: -5%;
    width: 500px;
    height: 500px;
  }
  .circle-container .circle:nth-child(3) {
    background: linear-gradient(45deg,rgb(147,15,15,0.4), #FF7A00); /* оранжевый */
    left:86%;
    top: 76%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
  }
  .circle-container div:nth-child(4) {
    background: linear-gradient(45deg, #28072E, #22091E);
    width: 320px;
    height: 320px;
    top: 63%;
    right: 72%;
  } 
  .circle-container .circle:nth-child(5) {
    background: linear-gradient(45deg,rgb(147,15,15,0.4), #FF7A00); /* оранжевый */
    left:62%;
    top: 41%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
  }
  .circle-container .circle:nth-child(6) {
    background: linear-gradient(45deg, #A542AF, rgba(7, 55, 225, 0.5)); /* синий*/
    top: 68%;
    left: 40%;
    width: 250px;
    height: 250px;
  }