footer {
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-logo {
    margin-left: 360px;
  }
  .footer-logo,
  .footer-social {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  /* Польз. соглашения */
  .ffooter-information {
    text-align: center;
  }
  /* социальные сети */
  .footer-social {
    margin-right: 160px;
  }
  .footer-social .social-icons {
    display: flex;
    align-items: center;
  }
  .social-icons {
    margin-right: 100px;
  }
  .social-icons .forum {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .link {
    color: white;
  }
.footer-logo,.ffooter-information{
    margin-right: 300px;
}
.footer-social{
    margin-left: 300px;
}